@font-face {
  font-family: 'fontello';
  src: url('fontello.eot?37592836');
  src: url('fontello.eot?37592836#iefix') format('embedded-opentype'),
       url('fontello.ttf?37592836') format('truetype'),
       url('fontello.svg?37592836#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?37592835#fontello') format('svg');
  }
}
*/
 
 [class^="icon-fontello-"]:before, [class*=" icon-fontello-"]:before {
  font-family: "fontello";
}
 
 
 
.icon-fontello-doc-text-inv:before { content: '\e800'; } /* '' */
.icon-fontello-view-mode:before { content: '\e801'; } /* '' */
.icon-fontello-torso:before { content: '\e802'; } /* '' */
.icon-fontello-user-1:before { content: '\e803'; } /* '' */
.icon-fontello-music:before { content: '\e804'; } /* '' */
.icon-fontello-search:before { content: '\e805'; } /* '' */
.icon-fontello-mail:before { content: '\e806'; } /* '' */
.icon-fontello-mail-squared:before { content: '\e807'; } /* '' */
.icon-fontello-heart:before { content: '\e808'; } /* '' */
.icon-fontello-heart-empty:before { content: '\e809'; } /* '' */
.icon-fontello-star:before { content: '\e80a'; } /* '' */
.icon-fontello-star-empty:before { content: '\e80b'; } /* '' */
.icon-fontello-star-half:before { content: '\e80c'; } /* '' */
.icon-fontello-mail-alt:before { content: '\e80d'; } /* '' */
.icon-fontello-user:before { content: '\e80e'; } /* '' */
.icon-fontello-users:before { content: '\e80f'; } /* '' */
.icon-fontello-male:before { content: '\e810'; } /* '' */
.icon-fontello-female:before { content: '\e811'; } /* '' */
.icon-fontello-child:before { content: '\e812'; } /* '' */
.icon-fontello-video:before { content: '\e813'; } /* '' */
.icon-fontello-picture:before { content: '\e814'; } /* '' */
.icon-fontello-camera:before { content: '\e815'; } /* '' */
.icon-fontello-camera-alt:before { content: '\e816'; } /* '' */
.icon-fontello-th-large:before { content: '\e817'; } /* '' */
.icon-fontello-th:before { content: '\e818'; } /* '' */
.icon-fontello-th-list:before { content: '\e819'; } /* '' */
.icon-fontello-ok:before { content: '\e81a'; } /* '' */
.icon-fontello-ok-circled:before { content: '\e81b'; } /* '' */
.icon-fontello-ok-circled2:before { content: '\e81c'; } /* '' */
.icon-fontello-ok-squared:before { content: '\e81d'; } /* '' */
.icon-fontello-cancel-circled2:before { content: '\e81e'; } /* '' */
.icon-fontello-cancel:before { content: '\e81f'; } /* '' */
.icon-fontello-cancel-circled:before { content: '\e820'; } /* '' */
.icon-fontello-plus:before { content: '\e821'; } /* '' */
.icon-fontello-plus-circled:before { content: '\e822'; } /* '' */
.icon-fontello-plus-squared:before { content: '\e823'; } /* '' */
.icon-fontello-plus-squared-alt:before { content: '\e824'; } /* '' */
.icon-fontello-minus:before { content: '\e825'; } /* '' */
.icon-fontello-minus-circled:before { content: '\e826'; } /* '' */
.icon-fontello-minus-squared:before { content: '\e827'; } /* '' */
.icon-fontello-minus-squared-alt:before { content: '\e828'; } /* '' */
.icon-fontello-help:before { content: '\e829'; } /* '' */
.icon-fontello-help-circled:before { content: '\e82a'; } /* '' */
.icon-fontello-info-circled:before { content: '\e82b'; } /* '' */
.icon-fontello-info:before { content: '\e82c'; } /* '' */
.icon-fontello-home:before { content: '\e82d'; } /* '' */
.icon-fontello-link:before { content: '\e82e'; } /* '' */
.icon-fontello-unlink:before { content: '\e82f'; } /* '' */
.icon-fontello-link-ext:before { content: '\e830'; } /* '' */
.icon-fontello-link-ext-alt:before { content: '\e831'; } /* '' */
.icon-fontello-attach:before { content: '\e832'; } /* '' */
.icon-fontello-lock:before { content: '\e833'; } /* '' */
.icon-fontello-lock-open:before { content: '\e834'; } /* '' */
.icon-fontello-lock-open-alt:before { content: '\e835'; } /* '' */
.icon-fontello-pin:before { content: '\e836'; } /* '' */
.icon-fontello-eye:before { content: '\e837'; } /* '' */
.icon-fontello-eye-off:before { content: '\e838'; } /* '' */
.icon-fontello-tag:before { content: '\e839'; } /* '' */
.icon-fontello-tags:before { content: '\e83a'; } /* '' */
.icon-fontello-bookmark:before { content: '\e83b'; } /* '' */
.icon-fontello-bookmark-empty:before { content: '\e83c'; } /* '' */
.icon-fontello-share:before { content: '\e83d'; } /* '' */
.icon-fontello-export:before { content: '\e83e'; } /* '' */
.icon-fontello-code:before { content: '\e83f'; } /* '' */
.icon-fontello-export-alt:before { content: '\e840'; } /* '' */
.icon-fontello-quote-right:before { content: '\e841'; } /* '' */
.icon-fontello-quote-left:before { content: '\e842'; } /* '' */
.icon-fontello-forward:before { content: '\e843'; } /* '' */
.icon-fontello-reply-all:before { content: '\e844'; } /* '' */
.icon-fontello-reply:before { content: '\e845'; } /* '' */
.icon-fontello-upload-cloud:before { content: '\e846'; } /* '' */
.icon-fontello-download-cloud:before { content: '\e847'; } /* '' */
.icon-fontello-download:before { content: '\e848'; } /* '' */
.icon-fontello-thumbs-down-alt:before { content: '\e849'; } /* '' */
.icon-fontello-thumbs-up-alt:before { content: '\e84a'; } /* '' */
.icon-fontello-thumbs-down:before { content: '\e84b'; } /* '' */
.icon-fontello-thumbs-up:before { content: '\e84c'; } /* '' */
.icon-fontello-flag-checkered:before { content: '\e84d'; } /* '' */
.icon-fontello-flag-empty:before { content: '\e84e'; } /* '' */
.icon-fontello-flag:before { content: '\e84f'; } /* '' */
.icon-fontello-edit:before { content: '\e850'; } /* '' */
.icon-fontello-share-squared:before { content: '\e851'; } /* '' */
.icon-fontello-pencil:before { content: '\e852'; } /* '' */
.icon-fontello-pencil-squared:before { content: '\e853'; } /* '' */
.icon-fontello-print:before { content: '\e854'; } /* '' */
.icon-fontello-retweet:before { content: '\e855'; } /* '' */
.icon-fontello-keyboard:before { content: '\e856'; } /* '' */
.icon-fontello-gamepad:before { content: '\e857'; } /* '' */
.icon-fontello-comment:before { content: '\e858'; } /* '' */
.icon-fontello-chat:before { content: '\e859'; } /* '' */
.icon-fontello-comment-empty:before { content: '\e85a'; } /* '' */
.icon-fontello-chat-empty:before { content: '\e85b'; } /* '' */
.icon-fontello-bell:before { content: '\e85c'; } /* '' */
.icon-fontello-bell-alt:before { content: '\e85d'; } /* '' */
.icon-fontello-attention-alt:before { content: '\e85e'; } /* '' */
.icon-fontello-attention:before { content: '\e85f'; } /* '' */
.icon-fontello-attention-circled:before { content: '\e860'; } /* '' */
.icon-fontello-location:before { content: '\e861'; } /* '' */
.icon-fontello-direction:before { content: '\e862'; } /* '' */
.icon-fontello-compass:before { content: '\e863'; } /* '' */
.icon-fontello-box:before { content: '\e864'; } /* '' */
.icon-fontello-folder-open-empty:before { content: '\e865'; } /* '' */
.icon-fontello-folder-empty:before { content: '\e866'; } /* '' */
.icon-fontello-folder-open:before { content: '\e867'; } /* '' */
.icon-fontello-folder:before { content: '\e868'; } /* '' */
.icon-fontello-file-code:before { content: '\e869'; } /* '' */
.icon-fontello-file-video:before { content: '\e86a'; } /* '' */
.icon-fontello-file-audio:before { content: '\e86b'; } /* '' */
.icon-fontello-file-archive:before { content: '\e86c'; } /* '' */
.icon-fontello-file-image:before { content: '\e86d'; } /* '' */
.icon-fontello-file-powerpoint:before { content: '\e86e'; } /* '' */
.icon-fontello-file-excel:before { content: '\e86f'; } /* '' */
.icon-fontello-file-word:before { content: '\e870'; } /* '' */
.icon-fontello-file-pdf:before { content: '\e871'; } /* '' */
.icon-fontello-chart-pie-alt:before { content: '\e872'; } /* '' */
.icon-fontello-doc-inv:before { content: '\e873'; } /* '' */
.icon-fontello-doc-text:before { content: '\e874'; } /* '' */
.icon-fontello-docs:before { content: '\e875'; } /* '' */
.icon-fontello-doc:before { content: '\e876'; } /* '' */
.icon-fontello-trash:before { content: '\e877'; } /* '' */
.icon-fontello-rss:before { content: '\e878'; } /* '' */
.icon-fontello-headphones:before { content: '\e879'; } /* '' */
.icon-fontello-clock:before { content: '\e87a'; } /* '' */
.icon-fontello-rss-squared:before { content: '\e87b'; } /* '' */
.icon-fontello-phone:before { content: '\e87c'; } /* '' */
.icon-fontello-lightbulb:before { content: '\e87d'; } /* '' */
.icon-fontello-block:before { content: '\e87e'; } /* '' */
.icon-fontello-phone-squared:before { content: '\e87f'; } /* '' */
.icon-fontello-fax:before { content: '\e880'; } /* '' */
.icon-fontello-resize-full:before { content: '\e881'; } /* '' */
.icon-fontello-menu:before { content: '\e882'; } /* '' */
.icon-fontello-cog-alt:before { content: '\e883'; } /* '' */
.icon-fontello-wrench:before { content: '\e884'; } /* '' */
.icon-fontello-cog:before { content: '\e885'; } /* '' */
.icon-fontello-resize-small:before { content: '\e886'; } /* '' */
.icon-fontello-resize-vertical:before { content: '\e887'; } /* '' */
.icon-fontello-sliders:before { content: '\e888'; } /* '' */
.icon-fontello-basket:before { content: '\e889'; } /* '' */
.icon-fontello-calendar:before { content: '\e88a'; } /* '' */
.icon-fontello-calendar-empty:before { content: '\e88b'; } /* '' */
.icon-fontello-login:before { content: '\e88c'; } /* '' */
.icon-fontello-logout:before { content: '\e88d'; } /* '' */
.icon-fontello-mic:before { content: '\e88e'; } /* '' */
.icon-fontello-mute:before { content: '\e88f'; } /* '' */
.icon-fontello-volume-off:before { content: '\e890'; } /* '' */
.icon-fontello-volume-down:before { content: '\e891'; } /* '' */
.icon-fontello-volume-up:before { content: '\e892'; } /* '' */
.icon-fontello-right-dir:before { content: '\e893'; } /* '' */
.icon-fontello-left-dir:before { content: '\e894'; } /* '' */
.icon-fontello-up-dir:before { content: '\e895'; } /* '' */
.icon-fontello-down-dir:before { content: '\e896'; } /* '' */
.icon-fontello-right-circled2:before { content: '\e897'; } /* '' */
.icon-fontello-left-circled2:before { content: '\e898'; } /* '' */
.icon-fontello-up-circled2:before { content: '\e899'; } /* '' */
.icon-fontello-down-circled2:before { content: '\e89a'; } /* '' */
.icon-fontello-zoom-out:before { content: '\e89b'; } /* '' */
.icon-fontello-zoom-in:before { content: '\e89c'; } /* '' */
.icon-fontello-move:before { content: '\e89d'; } /* '' */
.icon-fontello-resize-horizontal:before { content: '\e89e'; } /* '' */
.icon-fontello-down-open:before { content: '\e89f'; } /* '' */
.icon-fontello-left-open:before { content: '\e8a0'; } /* '' */
.icon-fontello-up-open:before { content: '\e8a1'; } /* '' */
.icon-fontello-angle-left:before { content: '\e8a2'; } /* '' */
.icon-fontello-right-open:before { content: '\e8a3'; } /* '' */
.icon-fontello-angle-right:before { content: '\e8a4'; } /* '' */
.icon-fontello-angle-up:before { content: '\e8a5'; } /* '' */
.icon-fontello-angle-down:before { content: '\e8a6'; } /* '' */
.icon-fontello-angle-circled-left:before { content: '\e8a7'; } /* '' */
.icon-fontello-angle-circled-right:before { content: '\e8a8'; } /* '' */
.icon-fontello-angle-circled-up:before { content: '\e8a9'; } /* '' */
.icon-fontello-angle-circled-down:before { content: '\e8aa'; } /* '' */
.icon-fontello-angle-double-left:before { content: '\e8ab'; } /* '' */
.icon-fontello-angle-double-right:before { content: '\e8ac'; } /* '' */
.icon-fontello-angle-double-up:before { content: '\e8ad'; } /* '' */
.icon-fontello-angle-double-down:before { content: '\e8ae'; } /* '' */
.icon-fontello-down:before { content: '\e8af'; } /* '' */
.icon-fontello-left:before { content: '\e8b0'; } /* '' */
.icon-fontello-right:before { content: '\e8b1'; } /* '' */
.icon-fontello-up:before { content: '\e8b2'; } /* '' */
.icon-fontello-down-big:before { content: '\e8b3'; } /* '' */
.icon-fontello-left-big:before { content: '\e8b4'; } /* '' */
.icon-fontello-right-big:before { content: '\e8b5'; } /* '' */
.icon-fontello-up-big:before { content: '\e8b6'; } /* '' */
.icon-fontello-right-hand:before { content: '\e8b7'; } /* '' */
.icon-fontello-left-hand:before { content: '\e8b8'; } /* '' */
.icon-fontello-up-hand:before { content: '\e8b9'; } /* '' */
.icon-fontello-down-hand:before { content: '\e8ba'; } /* '' */
.icon-fontello-left-circled:before { content: '\e8bb'; } /* '' */
.icon-fontello-right-circled:before { content: '\e8bc'; } /* '' */
.icon-fontello-up-circled:before { content: '\e8bd'; } /* '' */
.icon-fontello-down-circled:before { content: '\e8be'; } /* '' */
.icon-fontello-cw:before { content: '\e8bf'; } /* '' */
.icon-fontello-ccw:before { content: '\e8c0'; } /* '' */
.icon-fontello-arrows-cw:before { content: '\e8c1'; } /* '' */
.icon-fontello-level-up:before { content: '\e8c2'; } /* '' */
.icon-fontello-level-down:before { content: '\e8c3'; } /* '' */
.icon-fontello-shuffle:before { content: '\e8c4'; } /* '' */
.icon-fontello-exchange:before { content: '\e8c5'; } /* '' */
.icon-fontello-history:before { content: '\e8c6'; } /* '' */
.icon-fontello-desktop:before { content: '\e8c7'; } /* '' */
.icon-fontello-award:before { content: '\e8c8'; } /* '' */
.icon-fontello-signal:before { content: '\e8c9'; } /* '' */
.icon-fontello-target-1:before { content: '\e8ca'; } /* '' */
.icon-fontello-eject:before { content: '\e8cb'; } /* '' */
.icon-fontello-fast-bw:before { content: '\e8cc'; } /* '' */
.icon-fontello-fast-fw:before { content: '\e8cd'; } /* '' */
.icon-fontello-to-start-alt:before { content: '\e8ce'; } /* '' */
.icon-fontello-to-start:before { content: '\e8cf'; } /* '' */
.icon-fontello-to-end-alt:before { content: '\e8d0'; } /* '' */
.icon-fontello-to-end:before { content: '\e8d1'; } /* '' */
.icon-fontello-pause:before { content: '\e8d2'; } /* '' */
.icon-fontello-stop:before { content: '\e8d3'; } /* '' */
.icon-fontello-play-circled2:before { content: '\e8d4'; } /* '' */
.icon-fontello-play-circled:before { content: '\e8d5'; } /* '' */
.icon-fontello-play:before { content: '\e8d6'; } /* '' */
.icon-fontello-collapse-left:before { content: '\e8d7'; } /* '' */
.icon-fontello-expand-right:before { content: '\e8d8'; } /* '' */
.icon-fontello-collapse:before { content: '\e8d9'; } /* '' */
.icon-fontello-expand:before { content: '\e8da'; } /* '' */
.icon-fontello-laptop:before { content: '\e8db'; } /* '' */
.icon-fontello-tablet:before { content: '\e8dc'; } /* '' */
.icon-fontello-mobile:before { content: '\e8dd'; } /* '' */
.icon-fontello-inbox:before { content: '\e8de'; } /* '' */
.icon-fontello-globe:before { content: '\e8df'; } /* '' */
.icon-fontello-sun:before { content: '\e8e0'; } /* '' */
.icon-fontello-cloud:before { content: '\e8e1'; } /* '' */
.icon-fontello-flash:before { content: '\e8e2'; } /* '' */
.icon-fontello-moon:before { content: '\e8e3'; } /* '' */
.icon-fontello-umbrella:before { content: '\e8e4'; } /* '' */
.icon-fontello-paper-plane-empty:before { content: '\e8e5'; } /* '' */
.icon-fontello-space-shuttle:before { content: '\e8e6'; } /* '' */
.icon-fontello-leaf:before { content: '\e8e7'; } /* '' */
.icon-fontello-font:before { content: '\e8e8'; } /* '' */
.icon-fontello-italic:before { content: '\e8e9'; } /* '' */
.icon-fontello-header:before { content: '\e8ea'; } /* '' */
.icon-fontello-scissors:before { content: '\e8eb'; } /* '' */
.icon-fontello-crop:before { content: '\e8ec'; } /* '' */
.icon-fontello-columns:before { content: '\e8ed'; } /* '' */
.icon-fontello-table:before { content: '\e8ee'; } /* '' */
.icon-fontello-subscript:before { content: '\e8ef'; } /* '' */
.icon-fontello-superscript:before { content: '\e8f0'; } /* '' */
.icon-fontello-underline:before { content: '\e8f1'; } /* '' */
.icon-fontello-strike:before { content: '\e8f2'; } /* '' */
.icon-fontello-list-numbered:before { content: '\e8f3'; } /* '' */
.icon-fontello-list-bullet:before { content: '\e8f4'; } /* '' */
.icon-fontello-indent-left:before { content: '\e8f5'; } /* '' */
.icon-fontello-list:before { content: '\e8f6'; } /* '' */
.icon-fontello-align-justify:before { content: '\e8f7'; } /* '' */
.icon-fontello-align-right:before { content: '\e8f8'; } /* '' */
.icon-fontello-align-center:before { content: '\e8f9'; } /* '' */
.icon-fontello-align-left:before { content: '\e8fa'; } /* '' */
.icon-fontello-paragraph:before { content: '\e8fb'; } /* '' */
.icon-fontello-paste:before { content: '\e8fc'; } /* '' */
.icon-fontello-briefcase:before { content: '\e8fd'; } /* '' */
.icon-fontello-text-width:before { content: '\e8fe'; } /* '' */
.icon-fontello-suitcase:before { content: '\e8ff'; } /* '' */
.icon-fontello-text-height:before { content: '\e900'; } /* '' */
.icon-fontello-ellipsis:before { content: '\e901'; } /* '' */
.icon-fontello-ellipsis-vert:before { content: '\e902'; } /* '' */
.icon-fontello-off:before { content: '\e903'; } /* '' */
.icon-fontello-list-alt:before { content: '\e904'; } /* '' */
.icon-fontello-road:before { content: '\e905'; } /* '' */
.icon-fontello-qrcode:before { content: '\e906'; } /* '' */
.icon-fontello-barcode:before { content: '\e907'; } /* '' */
.icon-fontello-book:before { content: '\e908'; } /* '' */
.icon-fontello-ajust:before { content: '\e909'; } /* '' */
.icon-fontello-tint:before { content: '\e90a'; } /* '' */
.icon-fontello-check:before { content: '\e90b'; } /* '' */
.icon-fontello-check-empty:before { content: '\e90c'; } /* '' */
.icon-fontello-circle:before { content: '\e90d'; } /* '' */
.icon-fontello-circle-empty:before { content: '\e90e'; } /* '' */
.icon-fontello-circle-thin:before { content: '\e90f'; } /* '' */
.icon-fontello-circle-notch:before { content: '\e910'; } /* '' */
.icon-fontello-dot-circled:before { content: '\e911'; } /* '' */
.icon-fontello-cab:before { content: '\e912'; } /* '' */
.icon-fontello-magic:before { content: '\e913'; } /* '' */
.icon-fontello-beaker:before { content: '\e914'; } /* '' */
.icon-fontello-filter:before { content: '\e915'; } /* '' */
.icon-fontello-tasks:before { content: '\e916'; } /* '' */
.icon-fontello-certificate:before { content: '\e917'; } /* '' */
.icon-fontello-bug:before { content: '\e918'; } /* '' */
.icon-fontello-rocket:before { content: '\e919'; } /* '' */
.icon-fontello-fork:before { content: '\e91a'; } /* '' */
.icon-fontello-megaphone:before { content: '\e91b'; } /* '' */
.icon-fontello-key:before { content: '\e91c'; } /* '' */
.icon-fontello-floppy:before { content: '\e91d'; } /* '' */
.icon-fontello-credit-card:before { content: '\e91e'; } /* '' */
.icon-fontello-chart-bar:before { content: '\e91f'; } /* '' */
.icon-fontello-magnet:before { content: '\e920'; } /* '' */
.icon-fontello-fire:before { content: '\e921'; } /* '' */
.icon-fontello-ticket:before { content: '\e922'; } /* '' */
.icon-fontello-gift:before { content: '\e923'; } /* '' */
.icon-fontello-asterisk:before { content: '\e924'; } /* '' */
.icon-fontello-bank:before { content: '\e925'; } /* '' */
.icon-fontello-building-filled:before { content: '\e926'; } /* '' */
.icon-fontello-building:before { content: '\e927'; } /* '' */
.icon-fontello-hospital:before { content: '\e928'; } /* '' */
.icon-fontello-h-sigh:before { content: '\e929'; } /* '' */
.icon-fontello-medkit:before { content: '\e92a'; } /* '' */
.icon-fontello-spinner:before { content: '\e92b'; } /* '' */
.icon-fontello-sitemap:before { content: '\e92c'; } /* '' */
.icon-fontello-hammer:before { content: '\e92d'; } /* '' */
.icon-fontello-database:before { content: '\e92e'; } /* '' */
.icon-fontello-lifebuoy:before { content: '\e92f'; } /* '' */
.icon-fontello-foursquare:before { content: '\e930'; } /* '' */
.icon-fontello-windows:before { content: '\e931'; } /* '' */
.icon-fontello-chart-pie:before { content: '\e932'; } /* '' */
.icon-fontello-chart-bar-1:before { content: '\e933'; } /* '' */
.icon-fontello-cc:before { content: '\e934'; } /* '' */
.icon-fontello-cc-1:before { content: '\e935'; } /* '' */